html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
}

nav {
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0F4C75;
}

nav img {
	height: 100px;
	width: auto;
}

.navbar-button {
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin-left: 32px;
	font-weight: 700;
    background: #0F4C75;
	color: white;
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 15px;
}

.container {
	margin: auto;
	max-width: 1340px;
	padding-left: 30px;
	padding-right: 30px;
	background: rgba(49, 128, 114, 0.11);
}

.hero {
	display: flex;
	justify-content: space-around;
}

.hero-button {
	background: #0F4C75;
	border-radius: 15px;
	width: 320px;
	height: 67px;
	border: 0px;
	color: white;
	font-weight: 700;
	font-size: 20px;
}

.hero .tagline {
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.79);
}

.hero .box:first-of-type {
	text-align: center;
	margin-top: 80px;
}

.hero .box:first-of-type p {
	padding: 30px 0px 27px 0px;
}

.hero-features {
	text-align: center;
}

.hero-features .title {
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	line-height: 88px;
	text-align: center;
	color: #212121;
}

.hero-features .tagline {
	padding-bottom: 100px;
	padding-top: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 37px;
	color: #454545;
}

.hero-features div {
	display: flex;
	justify-content: space-around;
}

#hero-features_article {
	width: 270px;
	padding-bottom: 120px;
}

#hero-features_article img {
	padding-bottom: 20px;
}

#hero-features_article .title {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 37px;
	color: #212121;
}

/*
main {
	background: linear-gradient(rgba(255, 255, 255, 1) 63.5%, black 63.5%, black 85.5%, white 85.5%);
}
*/

#white-rectangle {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 1250px;
	height: 450px;
	background-color: white;
	box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
}

.join-us div:last-of-type{
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
	width: 330px;
	height: 332px;
	background: white;
	box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
	border-radius: 45px;
	padding: 20px;
}

.join-us img {
	padding: 10px;
}

.join-us img:first-of-type {
	width: 142px;
	height: 40%;
	padding-top: 20px;
}

.join-us {
	display: flex;
	justify-content: center;
	height: 333px;
}

.join-us .title {
	margin-top: 30px;
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: 90px;
	line-height: 117px;
	color: #212121;
	width: 900px;
	height: 450px;
}

.hero-features div:last-of-type {
	display: flex;
	justify-content: space-around;
	padding-bottom: 190px;
}

.role {
	margin-top: 433px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #212121;	
}

.join-button {
	position: relative;
	top: -180px;
	background: #0F4C75;
	border-radius: 15px;
	border: none;
	color: white;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	width: 150px;
	height: 45px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	background: #0F4C75;
}

.footer-text {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: white;
}

a {
	text-decoration: none;
}